import("methods")

export("readVersionInformation", "readURLInformation",
       "pointertoNEWS", "infoShow", "NEWS",
       "StartupMessage", "startupPackage", "startupType", 
       "startupMessage", "suppressStartupMessages",
       "onlytypeStartupMessages", "buildStartupMessage", 
       "mySMHandler", "mystartupMessage")